.logout-button {
  height: 40px;
  border-radius: 8px;
  font-weight: 700;
  background: #ffff;
  color: #000;
  opacity: 0.5;
  padding: 0 40px;
  margin-right: 20px;

  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;
}
