.content {

  display: flex;
  flex-direction: column;
}

.cadastro-municipio {
  margin-top: 50px;
  margin-left: 50px;

  strong {
    font: 600 25px "Poppins", sans-serif;
  }

  .form-cadastro {
    form {
      label {
        font: 14px "Poppins", sans-serif;
        margin-right: 10px;
      }

      input {
        height: 25px;
        width: 250px;
        border-radius: 8px;
        padding: 5px;
        border: 1px solid #a8a8b3;
        margin-top: 19px;
        margin-right: 10px;
      }
    }
  }
}
